.footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    height: 10%;
    background-color: darkcyan;
    width: 100%;
}
.header{
    top: 0;
    height: 10%;
    background-color: darkcyan;
    width: 100%;
    text-align: center;
    font-size: x-large;
}
